.navbar {
    width: 100vw;
}
/* section  navbar */
.navbar-brand {
    font-size: calc(1.5vh + 1.5vw);
    animation: navbar-brand 30s infinite;
    font-weight: bold;
    /* overflow: hidden; */
}

.nav-link:hover {
    font-weight: bold;
    text-decoration:underline ;
    font-style: italic;
    font-size: 1.2rem;
    color: brown;
}

@keyframes navbar-brand {
    0% {
        transform: translate(0vh,-10vh);
        text-shadow: 0vh -10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(34, 255, 0),0vh -10vh 0 rgb(38, 0, 255),0vh -10vh 0 rgb(234, 255, 0),0vh -10vh 0 rgb(0, 179, 255),0vh -10vh 0 rgb(255, 255, 255),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    11% {
        text-shadow: 0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(34, 255, 0),0vh -10vh 0 rgb(38, 0, 255),0vh -10vh 0 rgb(234, 255, 0),0vh -10vh 0 rgb(0, 179, 255),0vh -10vh 0 rgb(255, 255, 255),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    12%{
        text-shadow: 0vh 10vh 0 rgb(34, 255, 0),0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(38, 0, 255),0vh -10vh 0 rgb(234, 255, 0),0vh -10vh 0 rgb(0, 179, 255),0vh -10vh 0 rgb(255, 255, 255),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    13% {
        text-shadow:0vh 10vh 0 rgb(38, 0, 255),0vh 10vh 0 rgb(34, 255, 0),0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(234, 255, 0),0vh -10vh 0 rgb(0, 179, 255),0vh -10vh 0 rgb(255, 255, 255),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    14%{
        text-shadow:0vh 10vh 0 rgb(234, 255, 0),0vh 10vh 0 rgb(38, 0, 255),0vh 10vh 0 rgb(34, 255, 0),0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(0, 179, 255),0vh -10vh 0 rgb(255, 255, 255),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    15% {
        text-shadow:0vh 10vh 0 rgb(0, 179, 255),0vh 10vh 0 rgb(234, 255, 0),0vh 10vh 0 rgb(38, 0, 255),0vh 10vh 0 rgb(34, 255, 0),0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(255, 255, 255),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    16% {
        text-shadow:0vh 10vh 0 rgb(0, 0, 0),0vh 10vh 0 rgb(0, 179, 255),0vh 10vh 0 rgb(234, 255, 0),0vh 10vh 0 rgb(38, 0, 255),0vh 10vh 0 rgb(34, 255, 0),0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    17% {
        text-shadow:0vh 10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 255, 255),0vh 10vh 0 rgb(0, 179, 255),0vh 10vh 0 rgb(234, 255, 0),0vh 10vh 0 rgb(38, 0, 255),0vh 10vh 0 rgb(34, 255, 0),0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 rgb(255, 145, 0),0vh -10vh 0 silver;
    }

    18% {
        transform: translate(0vh,-10vh);
        text-shadow:0vh 10vh 0 rgb(255, 145, 0),0vh -10vh 0 rgb(234, 0, 255),0vh -10vh 0 rgb(255, 255, 255),0vh 10vh 0 rgb(0, 179, 255),0vh 10vh 0 rgb(234, 255, 0),0vh 10vh 0 rgb(38, 0, 255),0vh 10vh 0 rgb(34, 255, 0),0vh 10vh 0 rgb(255, 0, 0),0vh -10vh 0 rgb(0, 0, 0),0vh -10vh 0 silver;
    }

    19% {
        color: aqua;
        transform: translate(0,0);
        text-shadow: 0.1rem 0.1rem 0 black;
        transform: rotateX(0deg);
    }

    50% {
        color: aqua;
        transform: translate(0,0);
        text-shadow: 0.1rem 0.1rem 0 black;
        transform: rotateX(0deg);
    }

    51% {
        color: red;
        transform: rotateY(180deg) rotateX(180deg) ;
    }

    52% {
        transform: rotateY(0deg) rotateX(0deg);
        color: aqua;
        transform: translate(0,0);
        text-shadow: 0.1rem 0.1rem 0 black;
        transform: rotateX(0deg);
    }


    85% {
        color: aqua;
        transform: translate(0,0);
        text-shadow: 0.1rem 0.1rem 0 black;
        transform: rotateX(0deg);
    }

    90% {
        transform: rotateX(-360deg);
        opacity: 1;
        transform: scale(1);
    }


    100% {
        opacity: 0;
        transform: scale(0);
    }

}
/* akhir section navbar */

/* section image-header */
.image-header div {
    height: calc(30vh + 20vw);
    display:inline-flex;
    width: 100vw;
    background-color: aqua;
    margin: 0 -.12rem;
    justify-content: center;
    align-items: center;
}

.image-header h1 {
    font-size: calc(1vh +  2.5vw);
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: .15rem .15rem 0 black;
}

.image-header .image-1 {
    background-image: url(img/gambar33.webp);
    background-size: cover;
}

.image-header .image-2 {
    background-image: url(img/gambar36.webp);
    background-size: cover;
}

.image-header .image-3 {
    background-image: url(img/gambar35.webp);
    background-size: cover;
}

.image-header .image-4 {
    background-image: url(img/gambar39.webp);
    background-size: cover;
}

/* akhr section image-header */

/* section  biodata */
.biodata .img-thumbnail {
    border-radius: 100%;
    border: .1rem solid rgb(0, 0, 0);
    width:calc(15vh + 10vw) ;
    height: calc(15vh + 10vw);
    box-shadow: .1rem  .1rem 0 black;
    filter: blur(.1rem) sepia(20%) grayscale(10%) brightness(90%);
    margin-top: 4rem;
}

.biodata h1 {
    padding-top:2rem;
    font-size: calc(1.5vh + 2vw);
}

.biodata  h4 {
    font-size: calc(.9vh +  1.8vw);
}

.biodata  p {
    font-size: calc(.9vh + 1.8vw);
    overflow: hidden;
}

  .teks-2 {
    padding-right: 2.5rem;
    text-transform: capitalize;
    text-align: center;
}

.garis-horizontal {
    border-top: .3rem solid black;
}
/* section AKHIR biodata */

/*section  gambar-impian  */
/*card-image */
.judul-utama {
    padding-top: 3rem;
    font-size: calc(4vw - .5vh);
    text-transform: capitalize;
    padding-bottom: 2rem;
}

.header-image p {
    font-size: 1vw;
}

.header-image h5 {
    font-size: 1vw;
}


.kartu-image {
    margin: .2vw;
    box-sizing: border-box;
}

.kartu-image  a {
    font-size: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kartu-image img {
    height: calc(3vh +  10vw);
}


/* card image */



    /* akhit section  gambar-impian */